@-webkit-keyframes btnToUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes btnToUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes leftToRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes leftToRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes RightToLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes RightToLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
*, ::after, ::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 5rem;
  background-color: #FAFAFA;
}

.container {
  background-color: #F7F7F7;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #777777;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
}

.title-first {
  color: #FAFAFA;
}
.title-first__main {
  display: block;
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  -webkit-animation-name: leftToRight;
          animation-name: leftToRight;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
.title-first__secondary {
  display: block;
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 0.5rem;
  -webkit-animation-name: RightToLeft;
          animation-name: RightToLeft;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 5rem;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.title-secondary {
  font-size: 3.6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  font-weight: 800;
  background: -webkit-gradient(linear, left top, right top, color-stop(0.03%, rgba(186, 133, 84, 0.7)), color-stop(99.94%, rgba(161, 79, 3, 0.7)));
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(161, 79, 3, 0.7) 99.94%);
  -webkit-background-clip: text;
  color: transparent;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.title-secondary:hover {
  -webkit-transform: skewX(10deg) skewY(2deg) scale(1.1);
          transform: skewX(10deg) skewY(2deg) scale(1.1);
  text-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}

.title-third {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.paragraph {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  line-height: 140%;
  font-weight: 400;
  color: #777777;
}

.text-align-center {
  text-align: center;
}

.margin-bottom-10px {
  margin-bottom: 1rem;
}

.margin-bottom-30px {
  margin-bottom: 3rem;
}

.margin-bottom-50px {
  margin-bottom: 5rem;
}

.margin-bottom-80px {
  margin-bottom: 8rem;
}

.btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #777777;
  position: relative;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.5rem;
  padding: 1.5rem 4rem;
  background: #FAFAFA;
  border-radius: 5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
.btn:hover {
  -webkit-transform: translateY(-0.4rem);
          transform: translateY(-0.4rem);
  -webkit-box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.25);
          box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.25);
}
.btn:hover::after {
  -webkit-transform: scaleX(1.5) scaleY(1.7);
          transform: scaleX(1.5) scaleY(1.7);
  opacity: 0;
}
.btn:active {
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  -webkit-box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.25);
          box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.25);
}
.btn::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  background: #FAFAFA;
  border-radius: 5rem;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.btn_animated {
  -webkit-animation: btnToUp 0.5s ease-out 2s;
          animation: btnToUp 0.5s ease-out 2s;
}

.btn-text:link, .btn-text:visited {
  display: inline-block;
  font-size: 1.6rem;
  text-decoration: none;
  letter-spacing: 0.2rem;
  font-weight: 700;
  color: #BA8554;
  padding: 1rem;
  border-bottom: 1px solid #BA8554;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.btn-text:hover {
  background-color: #BA8554;
  color: #FAFAFA;
  -webkit-box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.25);
          box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.25);
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
}
.btn-text:active {
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
}

.composition {
  position: relative;
}
.composition__photo {
  position: absolute;
  width: 55%;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.25);
          box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.25);
  outline-offset: 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 10;
}
.composition__photo_n1 {
  top: 0;
  left: 0;
}
.composition__photo_n2 {
  top: 8rem;
  right: 0;
}
.composition__photo_n3 {
  top: 17rem;
  left: 2rem;
}
.composition__photo:hover {
  outline: 1rem solid #BA8554;
  z-index: 20;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.composition:hover .composition__photo:not(:hover) {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.adventure-card {
  padding: 2.2rem;
  padding-bottom: 2.9rem;
  text-align: center;
  border-radius: 0.5rem;
  background: rgba(250, 250, 250, 0.8);
  -webkit-box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.25);
          box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.adventure-card:hover {
  -webkit-transform: translateY(-1.5rem) scale(1.1);
          transform: translateY(-1.5rem) scale(1.1);
}
.adventure-card__icon {
  display: inline-block;
  font-size: 6.3rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(0.03%, rgba(186, 133, 84, 0.7)), color-stop(99.94%, rgba(161, 79, 3, 0.7)));
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(161, 79, 3, 0.7) 99.94%);
  -webkit-background-clip: text;
  color: transparent;
}

.tour-card {
  height: 52rem;
  -webkit-perspective: 150rem;
          perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
}
.tour-card__side {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #777777;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.25);
          box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}
.tour-card__side_back {
  background: linear-gradient(120deg, #BA8554, #A14F03);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.tour-card:hover .tour-card__side_front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.tour-card:hover .tour-card__side_back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}
.tour-card__img {
  height: 21rem;
  background-blend-mode: hard-light;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  margin-bottom: 6rem;
}
.tour-card__img_first {
  background: #BA8554 url("../img/card-tour-1.jpg") center/cover no-repeat;
}
.tour-card__img_secondary {
  background: #BA8554 url("../img/card-tour-2.jpg") center/cover no-repeat;
}
.tour-card__img_third {
  background: #BA8554 url("../img/card-tour-3.jpg") center/cover no-repeat;
}
.tour-card__title {
  position: absolute;
  top: 17rem;
  right: 0;
  font-size: 2.8rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #FAFAFA;
}
.tour-card__span {
  background: -webkit-gradient(linear, left top, right top, from(#BA8554), to(#A14F03));
  background: linear-gradient(90deg, #BA8554, #A14F03);
  padding: 1rem 2rem 0.2rem 2rem;
}
.tour-card__span_secondary {
  position: absolute;
  top: 3.4rem;
  right: 0;
  padding-top: 0;
  padding-bottom: 1rem;
}
.tour-card__descr ul {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}
.tour-card__descr ul li {
  list-style: none;
  border-bottom: 1px solid #777777;
}
.tour-card__descr ul li:not(:last-child) {
  margin-bottom: 2rem;
}
.tour-card__backSide-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}
.tour-card__paragraph {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  margin-bottom: 8rem;
  color: #FAFAFA;
}
.tour-card__paragraph_first {
  font-size: 1.6rem;
  font-weight: 300;
}
.tour-card__paragraph_secondary {
  font-size: 6rem;
  font-weight: 500;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}

[class^=col-] {
  float: left;
}
[class^=col-]:not(:last-child) {
  margin-right: 6rem;
}

.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.col-2-of-3 {
  width: calc(2 * (100% - 2 * 6rem) / 3 + 6rem);
}

.col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.col-2-of-4 {
  width: calc(2 * (100% - 3 * 6rem) / 4 + 6rem);
}

.col-3-of-4 {
  width: calc(3 * (100% - 3 * 6rem) / 4 + 2 * 6rem);
}

.header {
  position: relative;
  height: 95vh;
  background: -webkit-gradient(linear, left top, right top, color-stop(0.03%, rgba(186, 133, 84, 0.7)), color-stop(99.94%, rgba(0, 0, 0, 0.7))), url("../img/header-background.jpg") center/cover no-repeat;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%), url("../img/header-background.jpg") center/cover no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
.header__logo {
  position: absolute;
  top: 50px;
  left: 5rem;
  width: 5.6rem;
  height: 7rem;
}
.header__content {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.section-about {
  padding: 8rem 0;
}

.section-adventure {
  padding: 21.5rem 0;
  background: linear-gradient(91deg, rgba(186, 133, 84, 0.7) 16.34%, rgba(0, 0, 0, 0.7) 98.8%), url("../img/adventure-background.jpg") center/cover no-repeat;
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}
.section-adventure > * {
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
}

.section-tour {
  padding-top: 21.5rem;
}