.tour-card
  position: relative
  height: 52rem
  perspective: 150rem
  -moz-perspective: 150rem
  @media only screen and (max-width: 900px), (hover:none)
    height: auto

  &__side
    height: 52rem
    position: absolute
    top: 0
    left: 0
    width: 100%
    color: $color-gray
    backface-visibility: hidden
    border-radius: .5rem
    box-shadow: $box-shadow
    overflow: hidden
    transition: all .7s ease-out
    @media only screen and (max-width: 900px), (hover:none)
      position: relative
      height: auto
    &_front
      @media only screen and (max-width: 900px), (hover:none)
        padding-bottom: 13rem
    &_back
      background: linear-gradient(120deg, $brown-color-light, $brown-color-dark)
      transform: rotateY(180deg)
      @media only screen and (max-width: 900px), (hover:none)
        padding: 5rem
        padding-top: 12rem
        margin-top: -11rem
        clip-path: polygon(0 0, 100% 11%, 100% 100%, 0% 100%)
        transform: rotateY(0deg)
  &:hover &__side_front
    transform: rotateY(-180deg)
    @include respond(tab-port)
        transform: rotateY(0deg)
  &:hover &__side_back
    transform: rotateY(0deg)

  &__img
    height: 21rem
    background-blend-mode: hard-light
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%)
    margin-bottom: 6rem
    &_first
      background: $brown-color-light url('../img/card-tour-1.jpg') center / cover no-repeat
    &_secondary
      background: $brown-color-light url('../img/card-tour-2.jpg') center / cover no-repeat
    &_third
      background: $brown-color-light url('../img/card-tour-3.jpg') center / cover no-repeat
    @media only screen and (max-width: 900px), (hover:none)
      height: 30rem

  &__title
    position: absolute
    top: 17rem
    right: 0
    font-size: 2.8rem
    letter-spacing: .2rem
    font-weight: 300
    text-transform: uppercase
    text-align: right
    color: $color-white
    @include respond(tab-port)
      top: 25rem
      font-size: 3.8rem

  &__span
    background: linear-gradient(90deg, $brown-color-light, $brown-color-dark)
    padding: 1rem 2rem .2rem 2rem
    &_first
    &_secondary
      position: absolute
      top: 3.4rem
      right: 0
      padding-top: 0
      padding-bottom: 1rem
      @include respond(tab-port)
        top: 4.4rem

  &__descr
    ul
      width: 75%
      margin: 0 auto
      list-style: none
      text-align: center
      li
        display: inline-block
        border-bottom: 1px solid $color-gray
        &:not(:last-child)
          margin-bottom: 2rem
        @include respond(tab-land)
          font-size: 1.3rem
        @include respond(tab-port)
          font-size: 2.3rem

  &__backSide-wrapper
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    @media only screen and (max-width: 900px), (hover:none)
      position: relative
      top: 0
      left: 0
      text-align: center
      transform: translate(0%, 0%)
  &__paragraph
    letter-spacing: .2rem
    text-transform: uppercase
    text-align: center
    margin-bottom: 8rem
    color: $color-white
    &_first
      font-size: $paragraph-size
      font-weight: 300
    &_secondary
      font-size: 6rem
      font-weight: 500
