body
  font-family: "Roboto", sans-serif
  font-weight: 400
  color: $color-gray
  font-size: $paragraph-size
  letter-spacing: .2rem

.title-first
  color: $color-white
  &__main
    display: block
    font-size: 5rem
    font-weight: 800
    letter-spacing: 1rem
    text-transform: uppercase
    margin-bottom: 1rem
    animation-name: leftToRight
    animation-duration: 2s
    animation-delay: 1s
    animation-timing-function: ease
    backface-visibility: hidden
    animation-fill-mode: backwards
  &__secondary
    display: block
    font-size: 4rem
    font-weight: 300
    letter-spacing: .5rem
    animation-name: RightToLeft
    animation-duration: 2s
    animation-delay: 1s
    animation-timing-function: ease
    backface-visibility: hidden
    margin-bottom: 5rem
    animation-fill-mode: backwards

.title-secondary
  font-size: $title-secondary-size
  letter-spacing: 1rem
  text-transform: uppercase
  font-weight: 800
  background: linear-gradient(90deg, rgba($brown-color-light, 0.70) 0.03%, rgba($brown-color-dark, 0.70) 99.94%)
  -webkit-background-clip: text
  color: transparent
  backface-visibility: hidden
  transition: all .4s
  &_white
    color: $color-white
  &:hover
    transform: skewX(10deg) skewY(2deg) scale(1.1)
    text-shadow: $text-shadow-title

.title-third
  font-size: $title-third-size
  letter-spacing: .2rem
  text-transform: uppercase
  font-weight: 700

.paragraph
  font-size: $paragraph-size
  letter-spacing: .2rem
  line-height: 140%
  font-weight: 400
  color: $color-gray
